*.iml
.gradle
gradlew
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/book
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
/app/build
/app/desktop_res
/app/libs/rt.jar
/app/testdata/*
/app/release/app-release.aab
/.idea/*
/gradle/wrapper/*