*.iml
.gradle
gradlew
.DS_Store
assets/book*
assets/thor/PlayOK
assets/thor/OthelloQuest
build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
/gradle/wrapper/*
/.idea/
.idea
.flutter-plugins*
.gdb_history

