[submodule "app/src/third_party/googletest"]
	path = app/src/third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "app/src/main/cpp/third_party/googletest"]
	path = app/src/main/cpp/third_party/googletest
	url = https://github.com/google/googletest.git
