*.iml
.gradle
gradlew
.DS_Store
assets/book*
assets/thor/PlayOK
assets/thor/OthelloQuest
build
/captures
.externalNativeBuild
.cxx
local.properties
android/key.properties
/gradle/wrapper/*
/.idea/
.idea
.flutter-plugins*
.gdb_history
/secrets.env
/lib/env.g.dart
